/* Colour swatches */
:root {
  --clr-thistle: #e3c0d3;
  --clr-mountbattenpink: #95818d;
  --clr-paynesgray: #576066;
  --clr-slategray: #2c514c;
  --clr-gunmetal: #122932;
  --clr-white: #ffffff;
  --clr-black: #000000;
}

/* ---- GENERAL STYLING ---- */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Quicksand", "Calibri", sans-serif;
  color: var(--clr-white);
  background-color: var(--clr-gunmetal);
  padding: 0;
}

.h1-marginBtm {
  margin-bottom: 8%;
}

.h2-marginBtm {
  margin-bottom: 5%;
}

h1 {
  font-weight: 500;
  font-size: 2.8vw;
}

h2 {
  font-weight: 400;
  font-size: 1.5vw;
  margin-bottom: 1%;
}

h3 {
  font-size: 1.3vw;
}

h4 {
  font-size: 1.2vw;
}

p {
  font-weight: 300;
  font-size: 1.2vw;
}

p.sml {
  font-weight: 100;
  font-size: 1vw;
}

i {
  color: black;
}

a {
  text-decoration: none;
  color: var(--clr-thistle);
}

a:hover {
  transform: scale(1.05);
}

svg {
  cursor: pointer;
}

svg:hover {
  transform: scale(1.1);
}


button,
.input-btn {
  height: 6vh;
  width: 11vw;
  border-radius: 9px;
  border: 0;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.191);
  cursor: pointer;
}

.sml-btn{
  height: 4vh;
  width: 7vw;
}

button:hover {
  box-shadow: 0 0;
  
}

.sml-btn:hover{
  width: 6.9vw;
}

.paddedBottom {
  margin-bottom: 12%;
}

/* NAV */

nav {
  position: absolute;
  width: 20%;
  top: 0;
  right: 0;
  height: 11vh;
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
}

#logo-dummy {
  height: 50px;
  width: 50px;
  background-color: thistle;
}

/* FOOTER */
footer {
  height: 7vh;
  width: 100%;
  background-color: var(--clr-mountbattenpink);
  color: var(--clr-gunmetal);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5%;
  padding-right: 5%;
}

/* FIRST SCREEN */
.home-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.usertype-box {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-paynesgray);
  padding: 1% 3.5%;
}

.usertype-box:nth-child(2) {
  background-color: var(--clr-slategray);
}
.usertype-box:nth-child(3) {
  background-color: var(--clr-gunmetal);
}

.usertype-box button {
  margin-top: 5%;
}

/* REGISTER PAGE */

#register-page,
#login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-form {
  width: 50%;
  display: grid;
  row-gap: 2vh;
  position: relative;
}

#register-btn, #availability-btn {
  width: 25%;
  position: absolute;
  right: 0;
  bottom: -12vh;
}

.error-message {
  color: var(--clr-thistle);
  font-weight: 500;
}

/* Pick Appointment Page */

.slot-box {
  height: 60px;
  width: 70%;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 20% 26% 32% 22%;
  font-size: 15px;
  align-items: center;
  justify-items: center;
  background-color: var(--clr-thistle);
  border-radius: 10px;
  color: var(--clr-gunmetal);
  box-shadow: #122932 2px 2px 2px;
}

.appointments-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 15%;
  gap: 4%;
  align-items: center;
  background-color: var(--clr-paynesgray);
}

.arrow-box {
  height: 60px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: var(--clr-white);
  font-size: 30px;
  margin-bottom: 2%;
}

.confirmation-popup {
  position: absolute;
  width: 40%;
  height: 60%;
  background-color: var(--clr-slategray);
  box-shadow: #122932 2px 2px 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.confirmation-popup div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 30%;
}

/* User pages */

#dancer-page,
#management-page,
#physio-page {
  min-height: 150vh;
  display: grid;
  grid-template-columns: 22% 78%;
  grid-template-rows: minmax(13%,25%) minmax(73%, 85%);
}

#dancer-page {
  background-color: var(--clr-paynesgray);
}

#management-page {
  background-color: var(--clr-slategray);
}

.userpage-header {
  background-color: var(--clr-white);
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items:flex-start;
  gap:3%;
  padding-left: 3%;
  color: black;
}

.userpage-options {
  background-color: var(--clr-mountbattenpink);
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 10%;
  gap: 2%;
}

.userpage-wall{
  padding: 5%;
  gap: 5%;
  align-items: center;
}

.userpage-options, .userpage-wall{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile-pic{
  width: 100px;
  height: 100px;
}

.profile-pic img{
  max-width: 100%;
  max-height: 100%;
  object-fit:contain;
  border-radius: 15px;
}

.management-clr {
  background-color: var(--clr-paynesgray);
}

.management-clr a{
  color: var(--clr-black);
}

.arrow-header {
  font-size: 22px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6%;
}

/* Components */
.appointment-box {
  min-height: 60px;
  width: 100%;
  display: grid;
  grid-template-columns: 17% 15% 28% 23% 14%;
  font-size: 15px;
  align-items: center;
  justify-items: center;
  background-color: var(--clr-thistle);
  border-radius: 10px;
  color: var(--clr-gunmetal);
  box-shadow: #122932 2px 2px 2px;
}

.half-hour-block {
  width: 100%;
  height: 30px;
  background-color: var(--clr-white);
  border: solid 1px var(--clr-gunmetal);
  color: var(--clr-black);
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding: 0% 2%;
  align-items:center;
  cursor:pointer;
}

.booked {
  background-color: var(--clr-paynesgray);
  border: solid 1px var(--clr-gunmetal);
  color: var(--clr-white);
}

.half-hour-block:hover{
  transform: scale(1.01);
}

.schedule-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.physio-unset {
  background-color: var(--clr-mountbattenpink);
}

.physio-booked{
  background-color: var(--clr-slategray);
  color: var(--clr-white);
}

.edit-modal {
  overflow: hidden;
  background-color: var(--clr-mountbattenpink);
  position:relative;
  width: 60%;
  height: 60%;
  top: 20%;
  left: 25%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5% 10%;
}

.edit-modal div{
  min-height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.edit-modal button {
  width: 80%;
}

.edit-modal h3{
  padding-left: 1%;
}

.edit-time-btns{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 2%;
}

.edit-form {
  width: 100%;
  display: grid;
  row-gap: 2vh;
  position: relative;
}

